<div class="row mx-auto mt-5 w-50 bg-main-light rounded-2 p-3 shadow">
    <h2 class="text-center">Forgot Password</h2>


    <!-- section 1 email -->
    <section *ngIf="section1">
        <div>
            <form [formGroup]="forgotForm" (ngSubmit)="handleForgot()">
                <label for="email">Email:</label>
                <input placeholder="Your Email..." type="text" formControlName="email" class="form-control input-style"
                    id="email">
                <div *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.errors "
                    class="alert alert-danger p-1 text-center">
                    <div *ngIf="forgotForm.get('email')?.getError('required')">Email is required</div>
                    <div *ngIf="forgotForm.get('email')?.getError('email')">Please enter a valid email</div>
                </div>

                <button [disabled]="forgotForm.invalid" class="main-btn mt-3 w-100">
                    <span *ngIf="!isLoading">Next</span>
                    <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
                </button>
                <div class="alert alert-danger next-error" *ngIf="errorMsg">{{errorMsg}}</div>
            </form>
        </div>
    </section>

    <!-- section 2 reset code -->
    <section *ngIf="section2">
        <div>
            <form [formGroup]="resetCodeForm" (ngSubmit)="handleResetCode()">
                <label for="resetCode">Reset Code:</label>
                <input placeholder="Your Reset Code..." type="text" formControlName="resetCode"
                    class="form-control input-style" id="resetCode">
                <div *ngIf="resetCodeForm.get('resetCode')?.touched && resetCodeForm.get('resetCode')?.errors "
                    class="alert alert-danger error">
                    <div *ngIf="resetCodeForm.get('resetCode')?.getError('required')">ResetCode is required</div>
                    <div *ngIf="resetCodeForm.get('resetCode')?.getError('minLength')">ResetCode must be 6 digits</div>
                    <div *ngIf="resetCodeForm.get('resetCode')?.getError('maxLength')">ResetCode must be 6 digits</div>
                </div>

                <button [disabled]="resetCodeForm.invalid" class="btn main-btn mt-3 w-100">
                    <span *ngIf="!isLoading">Next</span>
                    <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
                </button>
                <div class="alert alert-danger mt-3 next-error" *ngIf="errorMsg">{{errorMsg}}</div>
            </form>
        </div>
    </section>

    <!-- section 3 new password -->
    <section *ngIf="section3">
        <div>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="handleNewPassword()">

                <label for="email">Email: {{userEmail}}</label>
                <input disabled placeholder="Your Email" class="form-control mb-3" id="your-email" readonly>


                <label for="newPassword">New Password:</label>
                <input placeholder="Your New Password..." type="password" formControlName="newPassword"
                    class="form-control input-style" id="newPassword">
                <div *ngIf="resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.errors "
                    class="alert alert-danger error">
                    <div *ngIf="resetPasswordForm.get('newPassword')?.getError('required')">New Password is required
                    </div>
                    <div *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')">Password needs to start with
                        uppercase with min 6 char and max 8 char</div>
                </div>

                <button [disabled]="resetPasswordForm.invalid" class="btn main-btn mt-3 w-100">
                    <span *ngIf="!isLoading">Done</span>
                    <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
                </button>
                <div class="alert alert-danger mt-3 next-error" *ngIf="errorMsg">{{errorMsg}}</div>
            </form>
        </div>
    </section>


</div>