.my-container {
    background-color: var(--main-light-color);
    padding: 20px 30px;
    height: 230px;
}

.h5 {
    color: rgb(113, 113, 113);
}

.form {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.form input {
    width: 85%;
}

input:focus {
    border-color: #0aad0a !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem #0aad0a63;
    box-shadow: 5px;
}

.form button {
    height: fit-content;
    padding: 7px 10px;
}

hr {
    color: grey;
    width: 97%;
    margin-inline: auto;
}