.my-container{
    display: flex;
    justify-content: center;
}

.brand-details-card{
    max-width: 1135px;
    height: max-content;
    background-color: var(--main-light-color);
    border-radius: 5px;
    margin: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 7px;
}

.brand-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    align-items: center;
}

.brand-image{
    padding: 0 5px;
}

.brand-image img{
    width: 100%;
    margin: 20px;
    border-radius: 5px;
}

.brand-info{
    margin: 0 25px;
}