.navbar-brand {
    width: 165px;
    cursor: pointer;
}

.active-link {
    background-color: var(--main-color);
    border-radius: 5px;
    color: white;
}

.nav-settings i {
    color: var(--main-color);
}

.nav-settings {
    align-self: center;
}

#heart-icon i {
    font-size: 32px;
}

#user-icon {
    width: 40px;
    height: 40px;
}

#user-icon a i {
    border: solid 1px var(--main-color);
    border-radius: 50%;
    padding: 12px;
}

#user-icon i:nth-child(2) {
    position: relative;
    right: -14px;
    bottom: 10px;
    font-size: 20px;

}

#cart-icon {
    font-size: 25px;
}

.unshrink {
    transition: 0.8s ease-out;
}

.shrink {
    padding: 16px 48px;
    transition: 0.8s ease-out;
}

.dropdown-menu {
    width: 160px;
    height: max-content;
    position: absolute;
    top: 45px;
    left: -55px;
    padding: 3px;
    text-align: center;
}

.dropdown-menu li {
    font-size: 15px;
    padding: 4px;
}

.dropdown-item:hover {
    background-color: #055d0a !important;
    color: white !important;
    transition: background-color 1.2s;
}

.active-item {
    background-color: var(--main-color);
    border-radius: 2px;
}

.wish-count {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: -5px;
    left: -21px;
}

.cart-count {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: -6px;
    left: -18px;
}

.logedout-logo {
    position: relative;
    left: 100px;
}

.logedout {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 100px;
}