.login-row{
    border-radius: 10px;
    padding: 30px;
    box-shadow: var(--box-shadow);
}

.login-title{
    text-align: center;
}

 @media screen and (max-width: 900px) and (min-width: 600px) {
    .login-title{
        text-align: center;
        font-size: 2rem;
    }
 }
 @media screen and (min-width: 900px) {
    .login-title{
        text-align: center;
        font-size: 4rem;
    }
 }

.form-item {
    margin-top: 15px;
    position: relative;
}

.form-item i {
    position: absolute;
    right: 10px;
    top: 35px;
    cursor: pointer;
}