<div class="signup-row row bg-main-light mx-auto my-5 w-75">
    <h2>Register Now</h2>
    <h3 *ngIf="errorMsg.length" class="alert alert-danger text-center">{{errorMsg}}</h3>
    <form (ngSubmit)="handleSignUp()" [formGroup]="signUpForm">
        <label for="name">Name:</label>
        <input type="text" placeholder="Your Name..." formControlName="name" class="form-control mb-2" id="name">
        <div *ngIf="signUpForm.get('name')?.touched && signUpForm.get('name')?.errors " class="alert alert-danger">
            <div *ngIf="signUpForm.get('name')?.getError('required')">Name is required</div>
            <div *ngIf="signUpForm.get('name')?.getError('minlength')">Min length is 3</div>
            <div *ngIf="signUpForm.get('name')?.getError('maxlength')">Max length is 10</div>
        </div>
        
        <label for="email">Email:</label>
        <input type="text" placeholder="Your Email..." formControlName="email" class="form-control mb-2" id="email">
        <div *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.errors " class="alert alert-danger">
            <div *ngIf="signUpForm.get('email')?.getError('required')">Email is required</div>
            <div *ngIf="signUpForm.get('email')?.getError('email')">Please enter a valid email</div>
        </div>
        
        <label for="password">Password:</label>
        <input type="password" placeholder="Your Password..." formControlName="password" class="form-control mb-2" id="password">
        <div *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.errors " class="alert alert-danger">
            <div *ngIf="signUpForm.get('password')?.getError('required')">Password is required</div>
        <div *ngIf="signUpForm.get('password')?.getError('pattern')">Password needs to start with uppercase with min 6 char and max 8 char </div>
    </div>
    
    <label for="rePassword">RePassword:</label>
    <input type="password" placeholder="Confirm Password..." formControlName="rePassword" class="form-control mb-2" id="rePassword">
    <div *ngIf="signUpForm.get('rePassword')?.touched && signUpForm.get('rePassword')?.errors " class="alert alert-danger">
        <div *ngIf="signUpForm.get('rePassword')?.getError('required')">Repassword is required</div>
        <div *ngIf="signUpForm.get('rePassword')?.getError('pattern')">Your rePassword needs to be the same as your password</div>
    </div>
    
    <label for="phone">Phone</label>
    <input type="text" placeholder="Your Phone..." formControlName="phone" class="form-control mb-2" id="phone">
    <div *ngIf="signUpForm.get('phone')?.touched && signUpForm.get('phone')?.errors " class="alert alert-danger">
        <div *ngIf="signUpForm.get('phone')?.getError('required')">Phone number is required</div>
        <div *ngIf="signUpForm.get('phone')?.getError('pattern')">Please enter a valid Egyptian phone number </div>
    </div>
    
    <div class="d-flex justify-content-end mt-2">
        <button *ngIf="!isLoading" [disabled]="signUpForm.invalid" class="btn main-btn d-flex justify-content-end">
            <span >
                Register
            </span>
            <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
        </button>
    </div>
</form>
</div>