<div class="my-container">
    <div class="row">
        <div class="empty-list" *ngIf='!wishListArr.length'>
            <p>Your Wish List Is Empty...</p>
        </div>
        <div class="items" *ngIf="wishListArr.length != 0">
            <div class="product cursor-pointer py-1 my-3" *ngFor="let product of wishListArr">
                <div>
                    <img (click)="goToProduct(product._id)" [src]="product.imageCover" class="w-100" alt="">
                    <p class="font-sm text-main">{{product.category.name}}</p>
                    <h2 class="h6">{{product.title}}</h2>
                    <div class="d-flex justify-content-between">
                        <span>EGP{{product.price}}</span>
                        <div>
                            <i class="fa-solid fa-star rating-color"></i>
                            <span>{{product.ratingsAverage}}</span>
                        </div>
                    </div>
                    <span class="wish-icon" >
                        <i class="fa-solid fa-heart-crack" (click)="removeFromWishList(product._id)"></i>
                    </span>
                    <button class="btn main-btn w-100" (click)="addToCart(product._id)">Add + </button>
                </div>
            </div>
        </div>
    </div>
</div>

