<div>    
    <div class="my-container">
        <div class="brand-details-card"> 
            <div class="brand-content">
                <div class="brand-image">
                    <div>
                        <img [src]="brandDetails.image" alt="brand name">
                    </div>
                </div>
                <div class="brand-info">
                    <div>
                        <h2 class="h3">{{brandDetails.name}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>