<div class="container">
    <div class="brands-cols" >
        <div class="brands-card" (click)="goToBrand(brand._id)" *ngFor="let brand of brandsArr | paginate:{ itemsPerPage: limit, currentPage: p, totalItems: collectionArr.results} ">
            <img [src]="brand.image" alt="brand image">
            <div class="brand-name">
                <h2 class="h4">{{brand.name}}</h2>
            </div>
        </div>
    </div>
    <div class="page-navigator">
        <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
    </div>
</div>
