.input-style:focus {
    border-color: #0aad0a !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem #0aad0a63;
    box-shadow: 5px;
}

.error {
    padding: 3px;
    width: 50%;
}

.next-error {
    padding: 3px 10px;
    width: 50%;
    margin: 5px auto;
    text-align: center;
}