<div class="row mx-auto mt-5 w-75 bg-main-light rounded-2 px-4 py-3 shadow d-flex justify-content-center">
    <h2 class="text-center h4">Update User Password</h2>

    <form [formGroup]="updatePasswordForm" (ngSubmit)="handleUpdatePassword()" class="w-75">

        <!-- current password -->

        <div class="form-item">
            <label for="currentPassword">Current Password:</label>
            <input placeholder="Your Current Password..." [type]="currentPassTextType ? 'text' : 'password'"
                formControlName="currentPassword" class="form-control input-style" id="currentPassword">
            <i class="fa-solid" [ngClass]="{'fa-eye-slash': currentPassTextType,'fa-eye': !currentPassTextType}"
                (click)="togglecurrentPassTextType()"></i>
            <div *ngIf="updatePasswordForm.get('currentPassword')?.touched && updatePasswordForm.get('currentPassword')?.errors "
                class="alert alert-danger p-1 text-center">
                <div *ngIf="updatePasswordForm.get('currentPassword')?.getError('required')">Current Password is
                    required
                </div>
                <div *ngIf="updatePasswordForm.get('currentPassword')?.getError('pattern')">Password needs to start with
                    uppercase with min 6 char and max 8 char</div>
            </div>
        </div>


        <!-- new password -->

        <div class="form-item">
            <label for="password">Password:</label>
            <input placeholder="Your New Password..." [type]="newPassTextType ? 'text' : 'password'"
                formControlName="password" class="form-control input-style" id="password">
            <i class="fa-solid" [ngClass]="{'fa-eye-slash': newPassTextType,'fa-eye': !newPassTextType}"
                (click)="togglenewPassTextType()"></i>
            <div *ngIf="updatePasswordForm.get('password')?.touched && updatePasswordForm.get('password')?.errors "
                class="alert alert-danger p-1 text-center">
                <div *ngIf="updatePasswordForm.get('password')?.getError('required')">New Password is required
                </div>
                <div *ngIf="updatePasswordForm.get('password')?.getError('pattern')">Password needs to start with
                    uppercase with min 6 char and max 8 char</div>
            </div>

        </div>


        <!-- repassword -->

        <div class="form-item">
            <label for="rePassword">RePassword:</label>
            <input placeholder="Confirm Password..." [type]="repasswordTextType ? 'text' : 'password'"
                formControlName="rePassword" class="form-control input-style" id="rePassword">
            <i class="fa-solid" [ngClass]="{'fa-eye-slash': repasswordTextType,'fa-eye': !repasswordTextType}"
                (click)="togglerepasswordTextType()"></i>
            <div *ngIf="updatePasswordForm.get('rePassword')?.touched && updatePasswordForm.get('rePassword')?.errors "
                class="alert alert-danger p-1 text-center">
                <div *ngIf="updatePasswordForm.get('rePassword')?.getError('required')">RePassword is required</div>
                <div *ngIf="updatePasswordForm.get('rePassword')?.getError('repasswordNoMatch')">Please make sure your password match</div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button [disabled]="updatePasswordForm.invalid" class="btn main-btn mt-3">
                <span *ngIf="!isLoading">Change</span>
                <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
            </button>
        </div>
    </form>

</div>